:root:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) #nav-bar {
  max-height: 0;
  min-height: 0!important;
  --tridactyl-auto-show-zone: 10px;
  margin-bottom: calc(-1 * var(--tridactyl-auto-show-zone));
  opacity: 0;
}

#main-window[sizemode="maximized"] #content-deck {
  padding-top: 8px;
}

#navigator-toolbox::after {
  display: none !important;
}

#navigator-toolbox:not(:hover):not(:focus-within) #toolbar-menubar > * {
  background-color: rgb(232, 232, 231);
}

#statuspanel {
  display: none !important;
}

statuspanel[type="overLink"],
#statuspanel[type="overLink"] {
  right: 0;
  display: inline;
}

/* remove the new tab button */

#tabs-newtab-button,
#new-tab-button {
  display: none !important;
}

/* remove the close tab button */

.tab-close-button {
  display: none !important;
}

/* limit the tab width */

.tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) {
  max-width: 24px !important;
}
